# File CSV grandi
database/twitter/twitter_tweets.csv
database/nfts/nft_trades.csv
database/twitter/twitter_tweet_collection.csv
database/twitter/twitter_tweet_hashtag.csv
database/twitter/twitter_users.csv
